[submodule "vim/bundle/vitality"]
	path = vim/bundle/vitality
	url = git://github.com/sjl/vitality.vim.git
    ignore = dirty
[submodule "vim/bundle/pyflakes-vim"]
	path = vim/bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
    ignore = dirty
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = git://github.com/ap/vim-css-color.git
    ignore = dirty
